.headerContainer{
    height: 5rem;
    border-bottom:  1px solid var(--gray-800);
}

.headerContent{
    max-width: 1120px;
    height: 5rem;
    margin : 0 auto;
    padding: 0 2;
    display: flex;
    align-items: center;

    nav {
        margin-left: 5rem;

        // Nav está com height 5rem para que possa ser colocado a cor embaixo
        height: 5rem;
        a {
            display: inline-block;
            position: relative;
            padding : 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
            color: var(--gray-300);

            transition: color 0.2s;

            & + a {
                margin-left: 2rem;
            }
            
            &:hover {
                color: var(--white);
            }

            &.active {
                color: var(--white);
                font-weight: bold;
            }

            &.active::after {                
                content: '';
                height: 3px;
                
                border-radius: 3px 3px 0 0;
                width: 100%;
                position: absolute;
                bottom: 1px;
                left: 1px;

                background : var(--yellow-500);
            }
        }         
    }

    // esse botão tem que ir todo para direita por que o header precisa
    // por isso foi colocado isso dentro do css header ao invés do botão
    button {
        margin-left: auto;
    }   
}